
  #theme-toggler{
   position: fixed;
  top: 2%;
  right:3%;
  z-index:10;
  opacity:0.8; 
  }

  body{
      background-color: #333333;
      font-size: 16px;
      color:white;
  }

  .card-body div{
     color:#333333;
     font-size: 1.2rem;
  }